doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/styles.css")
        title Responsive Layouts
    body 
        header#hero 
            .container.hero-text__container
                p.hero-text__small lorem ipsumsit 
                h1.hero-text__large Responsive layouts don’t have to be a struggle
        main#main 
            .container.first_section 
                    h2 Quality Designs
                    .first-section__texts 
                                    p.first-section__texts--paragraph. 



                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                                sed do eiusmod tempor incididunt ut labore et dolore
                                                magna aliqua. Dui vivamus arcu felis bibendum ut
                                                tristique. Arcu dui vivamus arcu felis. Sociis natoque
                                                penatibus et magnis dis.
                    


                                    p.first-section__texts--paragraph. 




                                                Felis donec et odio pellentesque diam volutpat. Aliquam
                                                purus sit amet luctus venenatis. Turpis in eu mi
                                                bibendum neque egestas congue quisque egestas.
                                                Pellentesque sit amet porttitor eget dolor morbi non.

            .section-dark 
                    .container.section__container
                            .section-dark__text
                                        h2 Made custom for you
                                        p.section-dark__para. 
                                            

                                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                                            sed do eiusmod tempor incididunt ut labore et dolore
                                                            magna aliqua. Ut enim ad minim veniam.  
                            .img_container
                                        img(src="https://unsplash.it/700/400", alt="Nature")